@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
